<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.agentwarden.powerd</string>
    <key>Program</key>
    <string>/Library/PrivilegedHelperTools/dev.agentwarden.powerd</string>
    <key>KeepAlive</key>
    <true/>
    <key>Sockets</key>
    <dict>
        <key>PowerdSocket</key>
        <dict>
            <key>SockPathName</key>
            <string>/var/run/dev.agentwarden.powerd.sock</string>
            <key>SockPathOwner</key>
            <integer>__UID__</integer>
            <key>SockPathMode</key>
            <integer>384</integer>
        </dict>
    </dict>
</dict>
</plist>
